.container {
    margin: 1.5rem;
    width: 90%;
    max-width: 1300px;
    margin: 1.5rem auto;
}

.form-container {
    margin-top: 1.5rem;
}

.form-group {
    margin-bottom: 1rem;
}

.form-container button {
    display: block;
    margin-left: auto;
}

.inner-container {
    margin-top: 1.5rem;
}

.card-container {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.item-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.item-row p:first-child {
    font-weight: 600;
}

.link {
    color: blue;
}

.link:hover {
    text-decoration: underline;
    cursor: pointer;
}